.experince__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 4rem !important;
}

.experince__container>div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.experince__container>div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
    transition: var(--transition);
}

.experince__container>div h3 {
    text-align-last: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experince__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experince__details {
    display: flex;
    /* align-items: center; */
    gap: 1rem;
}

.experince__details_icons {
    color: var(--color-primary);
    margin-top: 6px;
}

/* ========================== MEDIA QUERY (SMALl DEVICE) =========================== */

@media screen and (max-width: 1024px) {
    /* .experince__container{
        margin-top: 10rem !important;
    } */
}

/* ========================== MEDIA QUERY (MEDIUM DEVICE) =========================== */

@media screen and (max-width: 768px) {
    .experince__container {
        grid-template-columns: 1fr;
    }
    .experince__container>div {
        width: 90%;
        margin: 0 auto;
    }
}